[data-animate="on-scroll"],
[data-animate="on-load"] {
  transition: all .4s cubic-bezier(.52,.01,.16,1) .2s;
  opacity: 0;
  transform: translateY(40px);
}

[data-state="animate"] {
  opacity: 1;
  transform: translateY(0);
}
