.btn {
  @apply
    bg-primary
    text-white
    font-bold
    py-2
    px-4
    rounded
    transition-colors
    duration-200
    ease-out
  ;

  &:hover {
    background-color: darken($primary, 10%);
  }
}
