

// Ninja Form Specific
.wp-block-ninja-forms-form {
}

.nf-response-msg {
  text-align: center;
  font-weight: bold;
}

.nf-form-fields-required {
  color: red;
  text-align: right;
}

.nf-error.field-wrap .nf-field-element:after {
  border-radius: 0 10px 10px 0;
}

.field-wrap {
  text-align: left;
}
