.site-nav {
  text-align: center;
  z-index: 1;
  transition: all .2s ease-in-out;


  &[data-state="open"] {
		transform: translateX(0);
		opacity: 1;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.menu {

  &-item {
    display: inline-block;

    &:first-child {
      margin-left: 0;
    }

    &-has-children {
      position: relative;
    }
  }
}

.sub-menu {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  left: 50%;
  padding-top: 5px!important;
  transform: translateX(-50%) translateX(12px);
  min-width: 275px;
  background-color: white;
  transition: $base-transition;
  box-shadow: 0 4px 9px -8px rgba(0, 0, 0, 0.75);

  &[data-state="visible"] {
    opacity: 1;
    visibility: visible;
  }

  .menu-item {
    margin-left: 0;
    display: block;
  }
}

.mobile-menu-trigger {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 9999px;
  padding: 10px;
  background-color: white;
  height: 52px;
  width: 52px;
}

.menu-trigger__icon {
  display: none;

  &[data-state="visible"] {
    display: inline-block;
  }
}
